src/main/resources/files/TariffSchema.xsd

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Tariffs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tariff" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="payroll" type="doubleArg"/>
                            <xs:element name="sms-price" type="doubleArg" minOccurs="0"/>
                            <xs:element name="call-price" type="doubleArg" minOccurs="0"/>
                            <xs:element name="home-call-price" type="doubleArg" minOccurs="0"/>
                            <xs:element name="roaming-call-price" type="doubleArg" minOccurs="0"/>
                            <xs:element name="parameters" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:boolean" name="unlimited-internet" default="false"/>
                                        <xs:element type="xs:boolean" name="unlimited-calls" default="false"/>
                                        <xs:element type="xs:boolean" name="unlimited-sms" default="false"/>
                                        <xs:element type="xs:boolean" name="roaming" default="false"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="operator">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="MTC"/>
                                                    <xs:enumeration value="A1"/>
                                                    <xs:enumeration value="Life"/>
                                                    <xs:enumeration value="ByFly"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="country">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Belarus"/>
                                                    <xs:enumeration value="Russia"/>
                                                    <xs:enumeration value="USA"/>
                                                    <xs:enumeration value="Ukraine"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute type="tariff-mode" name="type"/>
                        <xs:attribute type="xs:date" name="start" use="required"/>
                        <xs:attribute type="xs:date" name="end"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="tariff-mode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="INTERNET"/>
            <xs:enumeration value="SMS_CALL"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="ROAMING_ONLY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="doubleArg">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>